In [1]:
%load_ext autoreload
%autoreload 2

In [62]:
import sys
sys.path.append('../')
from src.datapipeline import MLDataset
from pathlib import Path

In [3]:
data_path = Path('../data/raw/iris.arff')

In [32]:
ds = MLDataset(data_path)

---Preprocessing iris.arff dataset---
Nan values: 0

In [6]:
df, meta =  ds.import_raw_dataset()

In [7]:
meta

Dataset: iris
	sepallength's type is numeric
	sepalwidth's type is numeric
	petallength's type is numeric
	petalwidth's type is numeric
	class's type is nominal, range is ('Iris-setosa', 'Iris-versicolor', 'Iris-virginica')

In [8]:
ds.preprocessing()

---Preprocessing iris.arff dataset---
Nan values: 0

     sepallength  sepalwidth  petallength  petalwidth  y_true
0      -0.900681    1.032057    -1.341272   -1.312977       0
1      -1.143017   -0.124958    -1.341272   -1.312977       0
2      -1.385353    0.337848    -1.398138   -1.312977       0
3      -1.506521    0.106445    -1.284407   -1.312977       0
4      -1.021849    1.263460    -1.341272   -1.312977       0
..           ...         ...          ...         ...     ...
145     1.038005   -0.124958     0.819624    1.447956       1
146     0.553333   -1.281972     0.705893    0.922064       1
147     0.795669   -0.124958     0.819624    1.053537       1
148     0.432165    0.800654     0.933356    1.447956       1
149     0.068662   -0.124958     0.762759    0.790591       1

[150 rows x 5 columns]

In [26]:
ds.raw_data

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [29]:
ds.processed_data

     sepallength  sepalwidth  petallength  petalwidth  y_true
0      -0.900681    1.032057    -1.341272   -1.312977       0
1      -1.143017   -0.124958    -1.341272   -1.312977       0
2      -1.385353    0.337848    -1.398138   -1.312977       0
3      -1.506521    0.106445    -1.284407   -1.312977       0
4      -1.021849    1.263460    -1.341272   -1.312977       0
..           ...         ...          ...         ...     ...
145     1.038005   -0.124958     0.819624    1.447956       1
146     0.553333   -1.281972     0.705893    0.922064       1
147     0.795669   -0.124958     0.819624    1.053537       1
148     0.432165    0.800654     0.933356    1.447956       1
149     0.068662   -0.124958     0.762759    0.790591       1

[150 rows x 5 columns]

In [11]:
ds.classes_relation

{'Iris-setosa': 0, 'Iris-virginica': 1, 'Iris-versicolor': 2}

In [10]:
ds.save('iris_MLDataset_class','../data/processed/')

In [60]:
r,g = ds.statistics('raw')
r, g

({'n_classes': 3, 'n_features': 4, 'n_instances': 150},
           sepallength  sepalwidth  petallength  petalwidth
 Nulls        0.000000    0.000000     0.000000    0.000000
 Mins         4.300000    2.000000     1.000000    0.100000
 Max          7.900000    4.400000     6.900000    2.500000
 Means        5.843333    3.054000     3.758667    1.198667
 StD          0.828066    0.433594     1.764420    0.763161
 Variance     0.685694    0.188004     3.113179    0.582414)

In [61]:
r,g = ds.statistics('processed')
r, g

({'n_classes': 3, 'n_features': 4, 'n_instances': 150},
            sepallength    sepalwidth   petallength    petalwidth
 Nulls     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
 Mins     -1.870024e+00 -2.438987e+00 -1.568735e+00 -1.444450e+00
 Max       2.492019e+00  3.114684e+00  1.786341e+00  1.710902e+00
 Means    -4.736952e-16 -6.631732e-16  3.315866e-16 -2.842171e-16
 StD       1.003350e+00  1.003350e+00  1.003350e+00  1.003350e+00
 Variance  1.006711e+00  1.006711e+00  1.006711e+00  1.006711e+00)